<h1>Online Blogging Home Page</h1>
<ul>
    <li ng-repeat='blog in blogs'>
        <a href="/#/blogs/viewblog/{{blog._id}}">
            Title: {{blog.title}}
            Author: {{blog.author}}
            Rating: {{blog.rating}}
        </a>
        <a href="/#/blogs/delete/{{blog._id}}">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
        <a href="/#/blogs/add-post/{{blog._id}}"> Add post</a>
    </li>
</ul>

<h2>Add a Blog</h2>
<form>
    <div class="form-group">
        <label>Title</label>		
        <input class="form-control" ng-model="blog.title"></input>
    </div>
    <div class="form-group">
        <label>Author</label>
        <textarea class="form-control" ng-model="blog.author"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>	
</form>

